{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/campaign_detail.css') }}">

<div class="campaign-container">
    <div class="campaign-card">
        <h1 class="campaign-title">{{ campaign.title }}</h1>

        <div class="campaign-image">
            {% if campaign.camp_img %}
                <img src="{{ url_for('static', filename='campaigns/' + campaign.camp_img) }}" alt="{{ campaign.title }}">
            {% else %}
                <img src="{{ url_for('static', filename='static_images/noimage.jpg') }}" alt="{{ campaign.title }}">
            {% endif %}
        </div>

        <div class="campaign-details">
            <p class="m-0"><strong>Description:</strong> <br> {{ campaign.description }}</p>
            <p class="m-0"><strong>Location:</strong> {{ campaign.location }}</p>
            <p class="m-0"><strong>Date:</strong> {{ campaign.date.strftime('%d %b, %Y') }}</p>
            <p class="m-0"><strong>Expiry Date:</strong> {{ campaign.exp_date.strftime('%d %b, %Y') }}</p>
            <p class="m-0"><strong>Organizer:</strong> {{ campaign.organizer }}</p>
        </div>

        <form action="{{ url_for('user.join_campaign', campaign_id=campaign.id) }}" method="post" class="join-form">
            <button type="submit" class="join-btn">Join Campaign</button>
        </form>
    </div>
</div>
{% endblock %}
