<link rel="stylesheet" href="{{ url_for('static', filename='CSS/navbar.css') }}">

{% if current_user.is_authenticated %}
<header class="nav">
  <div class="nav__wrap container">
    <a class="brand" href="{{ url_for('user.home') }}">🩸 Rakta Bandhan</a>
    {% if current_user.role == "superadmin" %}
    <a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
    {% endif %}

   <!-- Hidden checkbox for CSS toggle -->
    <input type="checkbox" id="menu-toggle" class="menu-toggle">  

    <!-- Hamburger button -->
    <label for="menu-toggle" class="hamburger" aria-label="Toggle Menu">☰</label>

    <!-- Menu -->
    <nav class="menu" aria-label="Primary">
      <a href="{{ url_for('user.donate_blood') }}">Donate</a>
      <a href="{{ url_for('user.find_blood') }}">Find Blood</a>
      <a href="{{ url_for('user.campaigns') }}">Campaigns</a>
      <a href="{{ url_for('user.about') }}">About</a>

      {% if current_user.is_authenticated %}
      <div class="profile-dropdown">
        <div class="profile_pic">
          {% if current_user.profile_picture %}
          <img class="profile_image"
               src="{{ url_for('static', filename=current_user.profile_picture) }}"
               alt="Profile">
          {% else %}
          <img class="profile_image"
               src="{{ url_for('static', filename='static_images/default.png') }}"
               alt="Default">
          {% endif %}
        </div>
        <div class="profile_info">
          <p class="user_name">{{ current_user.username }}</p>
          <p class="user-role">{{ current_user.role }}</p>
        </div>
        <div class="dropdown-content">
          <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
      </div>
      {% endif %}
    </nav>
    
  </div>
</header>





<script>
  const hamburger = document.querySelector('.hamburger');
  const menu = document.querySelector('.menu');

  hamburger.addEventListener('click', () => {
      menu.classList.toggle('menu--open');
  });
</script>



{% endif %}
