/* Campaign */
.campaigns-section {
  /* padding: 3rem 2rem; */
  min-height: auto;
  text-align: center;
  color: #222;
}

.campaigns-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.campaigns-header h1 {
  font-size: 2.4rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.campaigns-header p {
  color: var(--muted);
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}

.campaigns-header-container {
  display: flex;
  justify-content: center;
}

.campaigns-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.8rem;
  justify-content: center;
  align-items: stretch;
}

.campaign-card {
  width: 21rem;
  background: var(--surface-2);
  border-radius: 18px;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.campaign-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-header {
  border-bottom: var(--primary) 2px solid;
  /* border-left: var(--primary) 2px solid; */
  border-right: var(--primary) 2px solid;
  /* background: var(--primary); */
  padding: 1rem;
}

.card-header h3 {
  margin: 0;
  color: var(--primary);
  font-size: 1.3rem;
}

.card-body {
  padding: 1.2rem;
  text-align: left;
}

.card-body img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 12px;
}

.card-footer {
  padding: 1rem;
  border-top: 1px solid #eee;
  text-align: right;
}

.btn-join {
  background: #d62828;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s;
}

.btn-join:hover {
  background: #b71c1c;
}

.no-campaigns {
  grid-column: 1 / -1;
  color: #888;
  font-style: italic;
}

.add-campaign {
  margin: 3rem;
}