
<div class="">
    <h5 class="mb-3">💉 Current Blood Stock Overview</h5>

    {% set components = ['Plasma', 'Whole Blood', 'Platelets', "RBC's"] %}

    {% for comp in components %}
    <div class="">
        <div>
            <p class="">{{ comp }}</p>
        </div>
        <div class="">

            {% set has_items = false %}
            {% for item in inventory %}
            {% if item.component.lower() == comp.lower() %}
            {% set has_items = true %}
            {% endif %}
            {% endfor %}
            {% for item in inventory %}
            {% if item.component.lower() == comp.lower() %}
            {% set has_items = true %}
            <div class="">
                <div class="blood-tag">{{ item.blood_group }}</div>
                <div class="blood-details">
                    <p>{{ item.component }}</p>
                    <p class="quantity">{{ item.quantity }} units available</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
        {% endfor %}
    </div>
</div>
