{% extends 'base.html' %}
{% block content %}
<div class="mt-4">
    <h2>Manage Events</h2>
    <div class="mb-3">
        <a href="{{ url_for('add_campaign') }}" class="btn btn-primary">Create New Event</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Date</th>
                <th>Exp. Date</th>
                <th>Location</th>
                <th>Participants</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if events %}

            {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.exp_date }}</td>
                <td>{{ event.location }}</td>
                <td class="text-center ">{{ event.participants | length }}</td>
                <td class="text-center">
                    <a href="{{ url_for('admin_edit_event', event_id=event.id) }}" class="btn btn-sm btn-warning me-1">✏️ Edit</a>
                    <a href="{{ url_for('admin_delete_event', event_id=event.id) }}"
                        class="btn btn-sm btn-danger me-1"
                        onclick="return confirm('Delete this event?');">🗑️ Delete</a>
                    <a href="{{ url_for('admin_event_detail', event_id=event.id) }}" class="btn btn-sm btn-info text-white">🔍 View</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5" class="text-center">No events found.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

</div>
{% endblock %}